{% load static %}
{% if include_assets %}
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endif %}
<div class="service service-badge" style='background-image:url("{% static 'images/services/logos/'|add:service.service_type|add:'.png' %}");'>
    <a href="{{ service.url }}" target="_blank"><div class="circle">GO</div></a>
    <div class="service-inner">
        <!-- <img class='service-logo' src="{% static 'images/services/logos/'|add:service.service_type|add:'.png' %}" alt="N/A" /> -->
        <div class="service-inner-text">
            <p>{{ service.name }}</p>
            <div id="service-enhanced-{{ service.id }}-container"
                hx-get="{% url 'service_call' service.id %}"
                hx-trigger="load, every 10s"
                hx-target="#service-enhanced-{{ service.id }}"
                hx-headers='{"x-include-assets": "false"}'
                hx-swap="innerHTML">
            </div>
            <div id="service-enhanced-{{ service.id }}"></div>
        </div>
    </div>
</div>