.settings-container {
    position: relative;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
}


.settings-header { 
}


.delete-form{
    display:inline-block;
}

.edit-form {
    display:inline-block;
    margin-left: 10px;
}

button {
    background-color: #5b4caf; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

a{
    color: #5b4caf; /* Green */
    text-decoration: none;
    font-size: 16px;
}

.form{
    width:100%;
}

.form > form > div {
    padding:10px;
}

.form > form > div > label {
    display: block;
    margin-bottom: 5px;
}

/* #description-helper{
    color:rgb(21, 21, 21);
} */

.form > form > div > input[type="text"],
.form > form > div > input[type="url"],
.form > form > div > input[type="password"],
.form > form > div > select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
}
select option {
  font-size: 1rem;
  background-color: #000;
}

.edit-service-container{
    background-color:rgb(255, 255, 255);
    position: absolute;
    display:none;
    left:0;
    right:0;
    height:100%;
    top:0;
}

.settings-container:has(.edit-service-container-visible) {
  /* border: 2px solid purple; */
  height: 400px;
}

.edit-service-container-visible {
    display: flex;
}

.settings-button{
    padding:5px;
    border:1px solid white;
    text-align: center;
    font-size: 0.75em;
    cursor: pointer;
    border-radius:10px;
    color: white;
}

.settings-edit-button{
    background-color: green;
}

.settings-delete-button{
    background-color: rgb(129, 0, 0);
}
