{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greyhound Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" crossorigin>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" crossorigin>
</head>
<body>
    <div class="header">
        <div class="header-title">Greyhound Dashboard</div>
    </div>
    <div class="main-container">
        <div class="left-column">
                <img src="{% static 'logo-dark.png' %}" style="display:block;width:90px;margin:auto;"/>
                <div class="nav-links">
                    <ul>
                        <a href="{% url 'index' %}" class="settings-link"><li>dash</li></a>
                        <a href="{% url 'services' %}" class="settings-link"><li>services</li></a>
                    </ul>
                </div>
        </div>

        <div class="right-column">
        {% block content %}
        {% endblock %}
        </div>

        <!-- script to highlight active page -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const currentPage = window.location.pathname;
                const links = document.querySelectorAll('.settings-link');

                links.forEach(link => {
                    if (link.getAttribute('href') === currentPage) {
                        link.classList.add('active');
                    }
                });
            });
        </script>

    </div>
</body>
</html>
