.settings-container {
    position: relative;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 60px;
    border-radius: 30px;
    border: 1px solid rgb(80, 80, 80);
    overflow: hidden;
    
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.03),
        rgba(0, 0, 0, 0.05)
    ), rgba(0, 0, 0, 0.25);

    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.2),
        0 6px 12px rgba(79, 70, 229, 0.3),
        0 0 0 2px rgba(255, 255, 255, 0.05) inset;
}


.settings-header {
    width: calc(100%);
    position:absolute;
    padding:10px;
    left:0;
    top:0;
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;    
    background-color: rgba(0, 0, 0, 0.5);
}


.delete-form{
    display:inline-block;
}

.edit-form {
    display:inline-block;
    margin-left: 10px;
}

button {
    background-color: #5b4caf; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

a{
    color: #5b4caf; /* Green */
    text-decoration: none;
    font-size: 16px;
}

.form-container > form > div {
    padding:10px;
}

.form-container > form > div > label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.form-container > form > div > input[type="text"],
.form-container > form > div > input[type="url"],
.form-container > form > div > input[type="password"],
.form-container > form > div > select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}
select option {
  font-size: 1rem;
  color: #fff;
  background-color: #000;
}